body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #ffe6e6;
    color: #b30059;
    padding-top: 100px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff4d94;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #ff1a75;
}
